<header>
    <b>Input</b>
    <textarea type="text" id="fname"></textarea>
    </header>
    <header>
      <b>Output</b>
      <div class="outputDiv" id="outputDiv"></div>
      <div class="divID"id="divID" style="display:none"></div>
  </header>
  