<h1>Text Modifier</h1>
<hr>
<p> This is a program that allows you to input <b>any text</b> and you can choose for it to either change to all lowercase, uppercase, or even convert it to Moris Code. In addition, you can check the character count and word count on the input you give.</p>